html {
	box-sizing: border-box;
}

* {
	font-family: Helvetica, sans-serif;
	font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
	color: rgb(221, 221, 221);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	border: 0;
	outline: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	border-radius: 0.5rem;
	background: rgba(41, 41, 44, 0);
}

/* Ручка скролбару */
::-webkit-scrollbar-thumb {
	background: rgb(79, 79, 79);
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(101, 96, 96);
}

img {
	max-width: 100%;
}

.text {
	color: rgb(230, 230, 230);
	line-height: 1.6;
}

body {
	font-family: Arial, Verdana, sans-serif;
	padding-top: 40px;
}

.container {
	padding-top: 15px;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 auto;
}

body {
	padding-top: 85px;
	background-color: rgb(52, 52, 52);
	background-image: linear-gradient(#222222 15%, #8d3327);
}

header.header {
	font-family: Helvetica, sans-serif;
	font-weight: 100;
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	background-color: rgba(52, 52, 52, 0.7);
	backdrop-filter: blur(10px);
	z-index: 9999;
	transition: background-color 0.3s;
	transition: box-shadow 0.3s;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
	transition: padding-top 0.3s, padding-bottom 0.3s;
}

.header_mini {
	background-color: rgba(52, 52, 52, 0.7);
	box-shadow: 0px 4px 25px -9px rgba(0, 0, 0, 0.6);
}

.header_mini .header__container {
	padding-top: 0px;
	padding-bottom: 0px;
}

.logo {
	color: #ededed;
	font-family: Arial, 'Helvetica', sans-serif;
	font-weight: 600;
	display: block;
	height: auto;
	width: auto;
	float: left;
}

.logo__img {
	display: block;
	height: 40px;
}

.arr {
	width: 13px;
	margin-left: 1px;
	color: #a42f27;
}

header div nav ul {
	display: flex;
}

header div nav ul li {
	position: relative;
}

header div nav ul li:hover > ul {
	display: initial;
}

header div nav ul li a {
	display: block;
	padding: 0.5rem 18px;
	color: rgba(219, 219, 219, 1);
	transition: 0.3s;
	font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
	border-radius: 16px;
}

header div nav ul li a:hover {
	background-color: rgb(143, 40, 32);
	color: rgba(212, 212, 212, 1);
	border-radius: 8px;
}

header div nav ul li a:active {
	background-color: rgb(84, 24, 20);
}

header div nav ul li ul {
	flex-direction: column;
	position: absolute;
	left: 0;
	width: 18rem;
	background-color: rgba(45, 45, 45, 0.6);

	display: none;
}

header div nav ul li ul li {
	flex-direction: column;
	width: 100%;
	border: 0.1rem solid rgba(100, 100, 100, 0.1);
	backdrop-filter: blur(10px);
	border-radius: 8px;
}

header div nav ul li ul {
	flex-direction: column;
	position: absolute;
	left: 0;
	width: 10em;
	background-color: rgba(45, 45, 45, 0.6);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.background {
	background-color: rgba(44, 44, 44, 0.6);
	border-radius: 20px;
	overflow: hidden;
	justify-content: space-between;
	box-shadow: 0px 4px 25px -9px rgba(0, 0, 0, 1);
}

/* Заголовок "Питання - відповідь" */
.baza {
	display: flex;
	background-color: rgb(77, 20, 15);
	padding: 25px 0;
	margin: 20px 0;
	justify-content: center;
}

.baza__text {
	font-size: 40px;
}

/* Кнопка */
.btn {
	border: none;
	outline: none;
	border-radius: 6px;
	background-color: #544f4d;
	color: white;
	padding: 6px 16px;
	font-size: 16px;
	transition: background-color 0.3s;
}

.btn:hover {
	background-color: #a42f27;
	cursor: pointer;
}

.btn:active {
	background-color: #441410;
}

.btn:focus {
	outline: 0;
}

/* Модифікатор жовтого кольору */
.btn_yellow {
	background-color: #ffb800;
}

/* Блок */

.block {
	max-width: 1200px;
	min-height: 330px;
	margin: 15px auto;
	padding: 0 auto;
	display: flex;
	justify-content: space-between;
}

.block__img1 {
	padding-top: 15px;
	padding-left: 10px;
	object-fit: cover;
}

.block__img2 {
	padding-top: 15px;
	padding-left: 0px;
	object-fit: cover;
}

.block__textpos {
	margin-top: 40px;
	margin-right: 60px;
}

.block__textpos-qst {
	margin-right: 8%;
	margin-left: 5%;
}

.block__title {
	padding: 1em 0;
	font-size: 2.1rem;
	font-weight: 600;
}

.block__text {
	border-radius: 16px;
	font-weight: 700px;
	margin-bottom: 35px;
}

/* Billy */
.billy {
	position: relative;
	max-width: 1200px;
	margin: 15px auto;
	padding: 0 auto;
}

.billy__back {
	display: flex;
}

.billy__textpos {
	max-width: 1000px;
	min-width: 200px;
	margin-top: 50px;
	margin-left: 7%;
	margin-right: 15%;
}

.billy__phraze {
	font-size: calc(11px + (28 - 11) * ((100vw - 300px) / (1600 - 300)));
	display: block;
	font-weight: 700px;
}

.sunshine {
	position: absolute;
	border-radius: 0px;
	width: 20%;
	right: 25%;
	bottom: 0px;
	opacity: 0;
	transition: 3s;
}

.sunshine:hover {
	border-radius: 0px;
	opacity: 1;
}

/* Карта посилань */
.map {
	position: relative;
	width: 1200px;
}

.map__pos {
	display: flex;
	justify-content: center;
	position: relative;
}

.map__text {
	padding-top: 40px;
	font-weight: 900px;
	display: flex;
	font-size: 1.3rem;
	justify-content: center;
}

.map__img {
	left: 0;
	bottom: 0;
	display: block;
	padding-bottom: 50px;
	object-fit: cover;
}

.map__area {
	position: absolute;
	opacity: 0;
	z-index: 0;
	transition: 0.3s;
}

.map__area.active {
	transition: 0.3s;
	opacity: 0.5;
	z-index: 1;
	filter: blur(5px);
}

. {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(167, 15, 15, 1);
	opacity: 0;
	transition: opacity 0.3s;
	clip-path: polygon(0% 0%, 60.5% 30%, 100% 50%);
	filter: blur(100px);
}
.wwww:hover {
	transition: 0.3s;
	opacity: 1;
}

/* Вправа */
.exercise {
	padding-left: 40px;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-right: 20px;
	position: relative;
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	margin: 20px auto;
	height: 670px;

	will-change: transform;
	transition: 0.2s;
	transform-origin: center;
}

.exercise:hover {
	transform: scale(1.005);
	margin-top: 30px;
	margin-bottom: 30px;
}

.exercise__title {
	display: flex;
	justify-content: center;
}

.exercise__title p {
	font-weight: 900;
	font-size: 2rem;
}

.exercise__instruction {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/* align-items: flex-start; */
}

.exercise__photo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 150%;
}

.exercise__img {
	display: block;
	object-fit: cover;
	background-color: #54545400;
	padding: 50px 10px;
}

.exercise div ul {
	padding: 35px 0;
}

.exercise div ul li {
	margin-top: 10px;
}

.exercise__ico {
	padding-right: 10px;
	width: 32px;
}

/* Футер */
footer {
	background-color: rgb(146, 54, 44);
	padding: 0;
	margin-top: 30px;
	box-sizing: border-box;
	border-radius: 0px;
}

.footer {
	width: 100%;
	padding: 40px 30px 20px;
}

.icon {
	height: 110px;
	width: 110px;
	fill: rgb(0, 0, 0);
}

.icon__youtube {
	padding: 12.5%;
}

.icon__x {
	padding: 20%;
}

.icon__telegram {
	padding: 15%;
}

.icon:hover {
	fill: #e8dccc;
	transition: 0.3;
}

.footer__icons {
	display: flex;
	justify-content: center;
}

.footer__icons a {
	padding: 0px 0px;
	background-color: #e8dccc;
	margin: 25px;
	border-radius: 50%;
}

.footer__icons a i {
	font-size: 2em;
	color: rgb(39, 39, 39);
	opacity: 0.9;
}

.footer__icons a:hover {
	background-color: rgb(0, 0, 0);
	transition: 0.3s;
}

.footer__icons a:hover i {
	color: #f3ece4;
	transition: 0.5;
}

.footer__nav {
	margin: 30px 0;
}

.footer__nav ul {
	display: flex;
	justify-content: center;
	list-style-type: none;
}

.footer__nav ul li a {
	color: #ffffff;
	margin: 20px;
	font-size: 1.3em;
	opacity: 0.7;
	transition: 0.3s;
}

.footer__nav ul li a:hover {
	opacity: 1;
}

.footer__bottom {
	display: flex;
	justify-content: center;
	width: auto;
	background-color: rgb(159, 110, 106);
	padding: 10px;
	border-radius: 0px;
}

.footer__bottom p {
	font-size: 0.9rem;
	position: relative;
	color: #f3ece4;
}

.designer {
	font-family: '2P';
	position: absolute;
	opacity: 0.6;
	letter-spacing: 1px;
	bottom: 0.6px;
	margin-left: 9px;
}

@media (max-width: 700px) {
	.footer__nav ul {
		flex-direction: column;
	}
	.footer__nav ul li {
		width: 100%;
		text-align: center;
		margin: 10px;
	}
}

@font-face {
	font-family: 'Helvetica';
	src: url('/fonts/Helvetica.woff2') format('woff2');
	font-weight: 400;
	line-height: 1.5;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: '2P';
	src: url('/fonts/PressStart2P.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
